.header {
    height: 220px;
    position: relative;
    margin-bottom: 50px;
}

.image-container {
    height: 100%;
    width: 100%;
}

.back-link {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 300;
    width: fit-content;
    transform: scaleX(-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    color: white;
    filter: drop-shadow(0 2px 3px rgba(0,0,0,1));
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.back-link {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 300;
    width: fit-content;
    transform: scaleX(-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    color: white;
    filter: drop-shadow(0 2px 3px rgba(0,0,0,1));
}

.image-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.title {
    position: absolute;
    bottom: -50px;
    left: 0;
    padding: 0 25px;
    display: flex;
    align-items: center;
}

.title p {
    font-size: 8rem;
    font-family: 'Code-Pro-Black', sans-serif;
    color: var(--secondary-color);
    position: relative;
}

.title h2 {
    font-size: 1.2rem;
    color: white;
    margin-top: 20px;
    margin-left: -30px;
    z-index: 20;
}

@media (max-width: 1279px) {
    .header {
        height: 180px;
    }
}
