.top-section {
    padding: 30px 0 30px;
}

.back-link {
    width: fit-content;
    transform: scaleX(-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 5px;
}

.back-link:hover {
    background-color: var(--lightgray);
}

.week-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.week-info h2 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.week-info p {
    margin-top: 5px;
    font-size: 0.9rem;
    color: darkgrey;
}

@media(min-width: 600px) {
    .back-link {
        margin-bottom: 0;
    }

    .top-section {
        margin-top: 20px;
    }
    
    .week-info h2 {
        font-size: 1.5rem;
    }
}