.nav-links {
    display: flex;
    align-items: center;
    gap: 12px;
}

.notification-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/* badge */
.notification-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    min-width: 10px;
    height: 10px;
    width: auto;
    border-radius: 50%;
    background: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}