::deep .hamburger-btn {
    color: white;
}

::deep .hamburger-fullscreen {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: white;
    z-index: 3000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: fadeIn 0.2s ease-in;
}

::deep .hamburger-header {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 5px 16px;
    background-color: #000;
}

::deep .header-icons {
    display: flex;
    align-items: center;
}

::deep .hamburger-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px - 75px);
    gap: 20px;
}

::deep .menu-link p {
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: none;
    text-align: center;
}

::deep .logout-btn {
    color: white !important;
    font-weight: 200 !important;
    font-size: 1.1rem !important;
    text-transform: none !important;
    margin-top: 48px !important;
}

.notification-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

/* badge */
.notification-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    min-width: 10px;
    height: 10px;
    width: auto;
    border-radius: 50%;
    background: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}