.scroll-to-top {
    background-color: var(--secondary-color);
    margin-right: 5px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 100%;
}
