.event-card-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #fff;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.event-card-text {
    padding: 0 20px;
    line-break: auto;
    hyphens: auto;
}

.event-card-title {
    margin-bottom: 4px;
}

.news-card-date {
    font-size: 0.85rem;
    color: #b5b5b5;
    margin: 0 0 15px 0;
}

.event-card-description {
    font-size: 0.9rem;
    color: #444;
}

.event-card-image-wrapper {
    position: relative;
    display: inline-block;
    min-width: 100px;
    max-width: 100px;
}

.event-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.event-card-dateblock {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 5px 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.event-card-dateblock p {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

.event-card-dateblock p:nth-of-type(2) {
    font-size: 1.5rem;
}

@media (min-width: 1024px) {
    .event-card-image-wrapper {
        min-width: 30%;
        max-width: 30%;
        max-height: 20vh;
    }
}

@media (max-width: 1024px) {
    .event-card-image-wrapper {
        min-width: 100%;
        max-width: 100%;
        height: 150px;
    }

    .event-card-content {
        flex-direction: column;
        gap: 0;
    }
    
    .event-card-text {
        padding: 0;
    }
    
    ::deep .event-card-text div .filter-chip {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .event-card-title {
        padding: 20px 0;
    }
}
