.infocard {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2px 0 20px;
    font-size: 1.1rem;
}

.infocard-row {
    display: flex;
    align-items: center;
    padding: 0 0 6px;
}

.infocard-row i {
    margin-right: 20px;
}

.infocard-row p {
    font-size: 1rem;
}