.facilities-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.facilities-item p {
    font-size: 0.8rem;
}

.quicklink-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    background-color: white;
}

.facilities-item .quicklink-icon {
    color: var(--secondary-color);
}