.facilities-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (min-width: 600px) {
    .facilities-grid {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        margin-bottom: 100px;
    }
}