.campusvoorkeur-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 30px 0 40px;
    font-size: 1rem;
    font-weight: 500;
    border-top: 1px solid var(--lightgray);
}

.campusvoorkeur-container label {
    font-size: 1rem;
    font-weight: 700;
}

.campusvoorkeur-container select {
    padding: 14px 12px;
    font-size: 1rem;
    border: 1px solid var(--lightgray);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}