.class-schedule-block {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    align-items: stretch;
}

.class-schedule-block:hover {
    cursor: pointer;
}

.class-schedule-info {
    padding: 10px 20px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.class-schedule-info h2 {
    margin-bottom: 0;
}

.class-schedule-info p:first-of-type {
    color: #BDBDC1;
}

.course-type {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9rem;
}

.course-name {
    font-size: 17px;
    font-weight: bold;
}

.courses, .teachers {
    margin-top: 15px;
}

.courses p, .teachers p{
    font-size: 0.8rem;
}

@media (max-width: 1280px) {
    .class-schedule-block {
        box-shadow: none;
        margin-bottom: 20px;
    }
}