.common-link-button {
    background-color: #fff;
    border: 1px solid var(--lightgray);
    text-align: center;
    padding: 0.75em 1em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    min-width: 100%;
    gap: 0.5em;
}

@media (min-width: 1280px) {
    .common-link-button {
        width: fit-content;
    }
}