.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 60px 30px 30px;
}

.label-401{
    font-size: 4.5em;
}

.container p{
    padding-bottom: 3em;
}