a {
    flex: 1 1 calc(100%);
    display: block;
}

.promo-card {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 20px;
}

.image-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(0, 0, 0, 0.6) 100%
    );
}

.header-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.labels-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
    font-size: 0.75rem;
    margin-bottom: 50px;
}

.labels-container span {
    padding: 2px 15px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.discount-label {
    background-color: var(--secondary-color);
    font-size: 0.8rem;
    color: #fff;
    font-weight: 600;
}

.category-label {
    background-color: #fff;
    color: #000;
}

.header-content:nth-child(2) {
    display: flex;
}

.header-content h3 {
    color: #fff;
    margin-bottom: 10px;
    word-break: break-word;
    hyphens: auto;
}

.header-content p {
    color: lightgray;
    font-size: 0.8rem;
    word-break: break-word;
    hyphens: auto;
}

@media (min-width: 768px) {
    a {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (min-width: 1280px) {
    a {
        flex: 1 1 calc(25% - 20px);
    }
}