.job-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #fff;
    width: 100%;
    margin-bottom: 30px;
}

.job-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 30vw;
    max-width: 300px;
}

.info {
    padding: 0 0 0 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h3 {
    margin-bottom: 4px;
}

.info p {
    font-size: 0.85rem;
    color: #b5b5b5;
}

@media (min-width: 1024px) {
    .info {
        padding: 0 0 0 30px;
    }
    
    .job-card-image {
        height: 15vh;
    }
}