@page "/contact/{ContactId:int}"
@using Rise.Shared.Departments
@using Microsoft.Extensions.Localization
@using Blazor.WebAssembly.DynamicCulture
@using Rise.Client.Pages.Contact.Components
@using Rise.Client.Resources.Pages.Contact
@using Rise.Shared.Common
@inject IDepartmentService DepartmentService
@inject IStringLocalizer<Contact> Loc

<PageTitle>@Loc["Contact"]</PageTitle>

<LanguageTrackProvider OnInitializeEvent="provider => provider.RegisterComponent(this)"/>

<div class="mx-8 mx-lg-10">
    <MudGrid Class="mx-auto" Spacing="0">
        <MudItem xs="12" Class="mx-lg-10">
            @if (Department is not null)
            {
                <TopPage BackLinkUrl="/contact" Title="@Department.Name"/>
                <ContactDetails Manager="@Department.Manager"/>
            }
        </MudItem>
    </MudGrid>
</div>

@code {
    [Parameter] public int ContactId { get; set; }
    private DepartmentDto.Index? Department { get; set; }
    
    protected override async Task OnParametersSetAsync()
    {
        var result = await DepartmentService.GetByIdAsync(new GetByIdRequest.GetById
        {
            Id = ContactId
        });
        
        Department = result.IsSuccess ? result.Value.Department : null;
    }
}