.location {
    display: flex;
    margin: 40px 0 10px;
    color: black;
}

h3{
    color: white;
}

.block-image {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212bff;
    margin-bottom: 10px;
    position: relative;
}

.block-image img {
    min-width: auto;
    height: 100%;
    object-fit: cover;
    padding-left: 20px;
}

.block-image .back-link {
    width: fit-content;
    transform: scaleX(-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 5px;
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
}

.back-link {
    width: fit-content;
    transform: scaleX(-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 5px;
}

.back-link:hover {
    background-color: black;
}

.block-container {
    display: flex;
    gap: 30px;
}

.left-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
}

.hours-card {
    background-color: #000000;
    color: white;
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    flex: 1;
}

.block.cta-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.status-badge {
    font-weight: bold;
    font-size: 1rem;
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
}

.circle {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 40px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 10px;
}

.location i {
    width: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.main-no-nav .section div div div .block-container .left-block .block.cta-buttons .secondButton ::deep .common-link-button {
    background-color: var(--secondary-color) !important;
}

@media (max-width: 1280px) {
    .block-image {
        margin-bottom: 0;
    }

    .location {
        margin-bottom: 0;
    }

    .left-block {
        gap: 30px;
    }

    .block.cta-buttons {
        flex-direction: column;
    }

    .block-container {
        padding: 10px 30px 40px;
        flex-direction: column;
        margin-bottom: -26px;
    }
}