a {
    display:flex;  
    justify-content: center;
}

.quicklink-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 15px;
    color: #000;
    width: 120px;
}

.quicklink-item p {
    word-break: break-word;
    hyphens: auto;
}

.quicklink-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--secondary-color);
    font-size: 40px;
    line-height: 0;
}


.quicklink-icon span {
    font-family: 'Code-Pro-Black', sans-serif;
    line-height: 1;
    text-align: center;
    margin-left: 5px;
}


.quicklink-item p:last-of-type {
    font-weight: 700;
    font-size: 0.8rem;
}