::deep .filter-chip {
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 1rem;
    flex: 0 0 auto;
    display: inline-flex;
}

::deep .filter-chip:hover {
    transform: scale(1.05);
}

.chip-icon {
    color: var(--secondary-color);
}

::deep .mud-chip-outlined {
    border-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}