.chip-container {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    gap: 1px;
}

.chip-wrapper {
    display: inline-block;
}

.chip-container::-webkit-scrollbar {
    height: 6px;
}

.chip-container::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
}

.chip-container::-webkit-scrollbar-track {
    background: transparent;
}
