::deep .filter-chip {
    font-size: 0.7rem;
    width: fit-content;
    align-self: flex-start;
    padding: 0 12px;
    margin: 0 0 15px 0 !important;
    color: black !important;
    background-color: white;
    border-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chip-icon {
    color: var(--secondary-color);
}