::deep .event-carousel {
    height: 250px;
}

::deep .event-carousel-item a.carousel-item-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

::deep .event-carousel-item .carousel-item-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 90%;
    padding: 0 20px 20px 30px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    color: white;
    cursor: pointer;
}

::deep .gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
    pointer-events: none;
}

::deep .carousel-text {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

::deep .event-item {
    display: flex;
    align-items: center;
}

::deep .event-item h3 {
    padding-left: 20px;
}

::deep .event-carousel-item h3 {
    margin: 0;
    color: white;
    width: 70%;
    font-weight: 800;
}

::deep .read-more {
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    text-decoration: none;
    width: 50%;
    margin-top: auto;
}

::deep .carousel-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--lightgray);
    margin: 0 4px;
}

::deep .carousel-bullet.selected {
    background-color: var(--secondary-color);
}

@media (min-width: 1280px) {

    .event-carousel {
        height: 45vh;
    };
}